body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    width: 100px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.intro {
    display: flex;
    justify-content: center;
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: flex-start;
}

.intro-right img {
    width: 20vw;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info h2 {
    font-size: 32px;
    font-weight: bold;
}

.cards img {
    width: 20vh;
    height: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
}